---
layout: default
---

<div class="container">
  <section class="designers-group">
    <ul class="designers-list row">
      {% assign posts = site.posts | sort: "title" %}
      {% for post in posts %}
      <li>
        <a href="{{ post.permalink }}">
          {% for designer in post.designer-name %}
          {{ designer }}
          {% endfor %}
        </a>
      </li>
      {% endfor %}
    </ul>
    <div class="link-expend-list">
      <a href="{{ site.form_url }}">← W 리스트 확장하기 | Expand W List →</a>
    </div>
  </section>
  <section class="intro">
    <div class="row">
      <div class="column-half">
        <div class="intro-content ko">
          <p>
            이 웹사이트는 2017년 12월 8일부터 2018년 1월 12일까지 서울시립미술관 SeMA 창고에서 열리는 <a href="http://wshow.kr/">«W쇼—그래픽 디자이너 리스트»</a>에 참여한 85팀 91명, 그리고 (확장하는) 그래픽 디자이너들의 작가, 작품 정보가 실린 목록이다.
          </p>
          <p>
            2015년 이화여자대학교 대학원 시각 디자인과에서 ‘여성’과 ‘그래픽’을 키워드로 제작한 <a href="http://wiki.wgraphic.kr/">‹W-그래픽› 위키백과</a> 프로젝트(제작: 이윤정, 하민아)로 출발한 이 웹페이지는 «W쇼» 전시와 협업하며 공개 위키에서 목록형 웹사이트로 구조를 개편했다.
          </p>
          <p>
            전시 오픈 당일 91명으로 시작하는 그래픽 디자이너 리스트는 전시가 종료되는 1월 12일까지 매일 몇 명의 이름들—교육자, 비평가, 그래픽 디자인 인접 분야 협업자까지 숫자와 범주를 확장한—을 조금씩 추가해나간다. 이는 끊임 없이 시대에 맞춰 갱신되는 열린 목록으로서 ‹W 리스트›를 유지하기 위한 선언이다. <a href="{{ site.form_url }}">여기</a>에 정보를 입력해 참여할 수 있다.
          </p>
        </div>
      </div>
      <div class="column-half">
        <div class="intro-content en">
          <p>This website is a directory of 91 designers from 85 teams participating in the exhibition, <a href="http://wshow.kr/">“W Show: A list of Graphic Designers”</a>, at SeMA Warehouse of Seoul Museum of Art, on show from December 8, 2017, to January 12, 2018.</p>
          <p>Initially known as <a href="http://wiki.wgraphic.kr/">‘W-Graphic’</a>, the Korean Female Graphic Designers’ wiki project at Ewha Woman’s University in 2015 (designed by Yunjung Lee and Min-A Ha), it has transformed its format from a public wiki page to an online directory.</p>
          <p>On the opening day of the exhibition, the initial list will comprise of 91 graphic designers and will continue to expand––adding the names of educators, critics, collaborations––until January 12th, the last day of the show. It is a commitment to keep ‘The W List’ as an open list that is continuously updated. You, too, can participate from <a href="{{ site.form_url }}">here</a>. </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column-half">
        <div class="site-info ko">
          <div><strong>프로젝트 매니징</strong> 이현송</div>
          <div><strong>제작</strong> 강영화, 정희연</div>
          <div><strong>편집</strong> 김린, 이윤정, 이현송</div>
          <div><strong>협력 및 지원</strong> «W쇼—그래픽 디자이너 리스트» 전시 기획팀, 서울시립미술관</div>
          <div class="copyright">ⓒ 2017 본 웹사이트에 실린 작가, 작품 정보 텍스트는 작가에 의해 작성된 것입니다. 저작권자의 동의 없이 무단으로 사용할 수 없습니다.</div>
        </div>
      </div>
      <div class="column-half">
        <div class="site-info en">
          <div><strong>Project Manager</strong> Hyunsong Lee</div>
          <div><strong>Designer</strong> Younghwa Kang, Heeyeun Jeong</div>
          <div><strong>Editor</strong> Lynn Kim, Yunjung Lee, Hyunsong Lee</div>
          <div><strong>Cooperation and Support</strong> “W Show: A list of Graphic Designers” exhibition, Seoul Museum of Art(SeMA)</div>
          <div class="copyright">All rights reserved.</div>
        </div>
      </div>
    </div>
  </section>
  <section class="exhibition-info">
    <div class="row">
      <div class="column-half">
        <div class="exhibition-title ko">
          <h4>W쇼—그래픽 디자이너 리스트</h4>
          <div>2017. 12. 8. 금—2018. 1. 12. 금</div>
          <div><strong>오프닝</strong> 2017. 12. 8. 금 오후 5:00</div>
          <div><strong>출판 기념 토크</strong> 2017. 12. 29. 금 오후 3:00</div>
          <div><strong>관람 시간</strong> 화–일 10:00–18:00(매주 월요일 휴관)</div>
          <div><a href="http://wshow.kr/">wshow.kr</a></div>
        </div>
      </div>
      <div class="column-half">
        <div class="exhibition-title en">
          <h4>The W Show: A List of Graphic Designers</h4>
          <div>Friday, December 8, 2017–Friday, January 12, 2018</div>
          <div><strong>Opening</strong> Friday December 8, 2017, 5 pm</div>
          <div><strong>Book Launch</strong> Friday December 29, 2017, 3 pm</div>
          <div><strong>Opening Hours</strong> Tue–Sun 10 am–6 pm (Closed on Mondays)</div>
          <div><a href="http://wshow.kr/">wshow.kr</a></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column-half">
        <div class="exhibition-staff ko">
          <div><strong>공동 기획</strong> 윤민화(서울시립미술관 전시과 큐레이터), 김영나, 이재원, 최슬기</div>
          <div><strong>참여작가</strong> 박연주, 소목장 세미, 양으뜸, 용세라, 텍스처 온 텍스터, 홍은주와 한국 여성 그래픽 디자이너 91 명</div>
          <div><strong>협력 프로젝트</strong> 우!스쿨</div>
        </div>
      </div>
      <div class="column-half">
        <div class="exhibition-staff en">
          <div><strong>Curated by</strong> Minhwa Yun(Curator of Exhibition Division, SeMA), Na Kim, Chae Lee, Sulki Choi</div>
          <div><strong>Artist</strong> Yeounjoo Park, Small Studio Semi, Euddeum Yang, Sera Young, Texture on Texture, Eunjoo Hong and ninety one Korean women graphic designers</div>
          <div><strong>Partner Project</strong> Woo! School</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column-half">
        <div class="exhibition-location ko">
          <div><strong>SeMA 창고</strong></div>
          <div>서울시 은평구 통일로 684, 서울혁신파크 5동</div>
          <div><a href="http://sema.seoul.go.kr/">sema.seoul.go.kr</a></div>
          <div>+82 2 2124 8800</div>
        </div>
      </div>
      <div class="column-half">
        <div class="exhibition-location en">
          <div><strong>SeMA Storage</strong></div>
          <div>Seoul Innovation Park, Building No. 5, 684 Tongil-ro, Eunpyeong-gu, Seoul, South Korea</div>
          <div><a href="http://sema.seoul.go.kr/">sema.seoul.go.kr</a></div>
          <div>+82 2 2124 8800</div>
        </div>
      </div>
    </div>
  </section>
</div>
